<div>

  <!--<h1>Events: {{dispEvents.length}}</h1>-->

  <h1>US History Timeline</h1>
  <h3>By Aeron Koss!</h3>
  <p style="background-color:black; color:white;">African American</p>
  <p style="background-color:pink">Women</p>
  <p style="background-color:chartreuse">Latino American</p>
  <p style="background-color:red">Native American</p>
  <p style="background-color:orange">Asian American</p>
  <p style="background-color:purple; color:white">LGBT*</p>
  <p style="background-color:aqua">General</p>

  <h2>Sort By:</h2>
  <button class="button" (click)="orderToYear()">Year</button>
  <button class="button" (click)="orderToType()">Type</button>

<div *ngFor="let event of dispEvents | orderBy: order ; let i = index">
  <button class="accordian" [style.color]="event.getTextColor()" [style.background-color]="event.getColor()" (click)="toggleAccordian($event, i)"><b>{{event.year}}</b>- {{event.name}}</button>
  <div class="panel" hide="!event.isActive">
    <p>{{event.description}}</p>
    <img [src]="event.image" *ngIf="event.hasImage" />
    </div>
</div>


  
  </div>
   
  <router-outlet></router-outlet>